#vue {
    flex: 1;
}

ul {
    list-style-type: disc;
}

a:link, a:active {
    color: #2b2b2b;
    text-decoration: underline;
}

a:visited {
    color: #7a7878;
    text-decoration: underline;
}

a:hover {
    color: #666060;
    text-decoration: underline;
}

#menu {
    flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: auto;
}

#menu-links {
    flex-grow: 1;
}

#menu-image {
    flex-grow: 2;
}
