{% extends("commons/_layout.html.twig") %}
{% block stylesheet_page %}
    <link href="{{ asset('css/account/edit-profile.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block vue %}
    <h2>Édition de profil</h2>
    {{ form(userForm) }}
{% endblock %}