{% extends("commons/_layout.html.twig") %}
{% block stylesheet_page %}
    <link href="{{ asset('css/account/welcome.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block vue %}
    <h2>
        Bienvenue {{ username }}!
    </h2>
    Vous êtes :
    {% if isAuth == false %}
    Anonyme
    {% elseif isAdmin %}
    Administrateur
    {% else %}
    Client
    {% endif %}
{% endblock %}