<!DOCTYPE html>
<html>
    <head>
        <title>{% block title_page %}Pépouze la Binouze{% endblock %}</title>
        <meta charset="UTF-8">
        {% block stylesheet %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css">
    </head>

    <body>
        <h1>Pépouze la Binouze - Shop</h1>
        {% block content_body %}{% endblock %}
    </body>
</html>