<head>
    <title>{% block title %}TITLE{% endblock %}</title>
    <meta charset="UTF-8">
    <style>
        div{
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
    </style>
</head>
