{% block menu %}
<ul>
    {# TODO: use real variable instead of this static usage #}
    {% set isAuth = false %}
    {% set user = "customer" %}

    {% if isAuth == false %}
        <li><a>Connexion</a></li>
        <li><a>Créer un compte</a></li>
    {% else %}
        <li><a>Déconnexion</a></li>
    {% endif %}

    <li><a>Aller à la page d'accueil</a></li>

    {% if user == "admin" %}

    {% elseif user == "customer" %}

    {% endif %}
</ul>
{% endblock %}